<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>customer detail</title>
    <link rel="stylesheet" href="{{url_for('static', filename='CSS/style_sheet.css')}}">
    <script src="{{url_for('static', filename='JS/nav_toggle.js')}}"></script>
</head>

<body>

    <nav class="navbar navbar-dark bg-dark">
        <button type="button" class="navbar-toggle" aria-label="Toggle navigation" aria-expanded="false">
            <span class="navbar-toggle-bar"></span>
            <span class="navbar-toggle-bar"></span>
            <span class="navbar-toggle-bar"></span>
        </button>
        <div class="container">
            <a class="navbar-brand" href="#">Bloom & Breeze</a>
            <div class="ms-auto">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="btn btn-secondary" href="/admin_order_details">Go back to order details</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <h3>customer detail for Selected customer id</h3>

    <table border="1">
        <thead>
            <tr>
                <th>Full Name</th>
                <th>Mobile Number</th>
                <th>Address line 01</th>
                <th>Address line 02</th>
                <th>city</th>
                <th>country</th>
                <th>email</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>{{ customer_data[1] }}</td>
                <td>{{ customer_data[2] }}</td>
                <td>{{ customer_data[3] }}</td>
                <td>{{ customer_data[4] }}</td>
                <td>{{ customer_data[5] }}</td>
                <td>{{ customer_data[6] }}</td>
                <td>{{ customer_data[7] }}</td>

            </tr>
        </tbody>
    </table>
</body>

</html>