<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shipping detail</title>
    <link rel="stylesheet" href="{{url_for('static', filename='CSS/style_sheet.css')}}">
    <script src="{{url_for('static', filename='JS/nav_toggle.js')}}"></script>
</head>

<body>

    <nav class="navbar navbar-dark bg-dark">
        <button type="button" class="navbar-toggle" aria-label="Toggle navigation" aria-expanded="false">
            <span class="navbar-toggle-bar"></span>
            <span class="navbar-toggle-bar"></span>
            <span class="navbar-toggle-bar"></span>
        </button>
        <div class="container">
            <a class="navbar-brand" href="#">Bloom & Breeze</a>
            <div class="ms-auto">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="btn btn-secondary" href="/admin_order_details">Go back to order
                            details</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <h3>this page is for shipping detail</h3>

    <table border="1">
        <thead>
            <tr>
                <th>address line01</th>
                <th>address line02</th>
                <th>City</th>
                <th>Country</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>{{ shipping_detail[0] }}</td>
                <td>{{ shipping_detail[1] }}</td>
                <td>{{ shipping_detail[2] }}</td>
                <td>{{ shipping_detail[3] }}</td>
            </tr>
        </tbody>
    </table>
</body>

</html>